
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello </h1>
    <p>
      Your translation request @request.title has been successfully completed! <br>
    </p>
    <p>
      To view the completed translation please click  <a href="https://tarjimilydocs/requests/#{@request.id}" > here </a>
      
    </p>
    # <%= image_tag attachments['tarjimly_footer.jpg'].url >
  </body>
</html>