%h2 All Requests 

-# = form_tag 
%h3 All Translations
%h3 Pending Translations 
%h3 Completed Translations

%table#requests.table.table-striped.col-md-12
    %thead
        %tr
            %th Title 
            %th Request Language 
            %th Translation Language
            %th Status 
            %th Deadline

    -# %body 
    -#     -@requests.each do |r|
    -#         %tr
    -#             %td=r.title 
    -#             %td=t.from_language
    -#             %td=t.to_language
    -#             %td=r._status
    -#             %td=r.deadline




-# = link_to 'Add new Request', new_request_path