/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* translators/requests view */

.requests-header {
  text-align: center;
}

.no-requests{
  margin-top: 20px;
  text-align: center;
}

.filter-cont {
  margin-top: 15px;
  padding: 10px;
  @media only screen and (min-width: 992px) {
    border-right: .5px solid #337ab7;
    padding-right: 3%;
    position: fixed;
  }

  .filter-labels {
    margin-bottom: 10px;
  }

  .reset-container {
    margin-top: 10px;
    text-align: center;
  }
}



.requests-card {
  border: .5px solid #d9ecfc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;

  .deadline {
    color: red;
  }

  .claim-form {
    margin: 0;
    padding: 0;
  }

  .button-cointainer {
    display: inline;
  }

  .card-row {
    @media only screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;

      .card-col-2 {
        align-self: flex-end;
      }
      .show-on-small {
        display: none;
      }
    }
  }

}

.tags-container{
  margin: 5px 0;
  .tag {
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
  }

  .tag-blue{
    background-color: rgb(190, 225, 237);
  }
  .tag-pink{
    background-color: rgb(245, 203, 209);
  }

  .tag-green{
    background-color: rgb(208, 249, 208);
  }
}

.show-request {
  .title {
    color: #337ab7
  }
  .bold {
    font-weight: 400;
  }
  .spread{
    display: flex;
    justify-content: space-between;
  }
  // .desc-tags {
  //   margin: 0;
  // }
}














/* Ignore stuff below this line (temporary index page) */
.aj-stuff {
  .custom-model{
    .modal-header{
      color: red
    }
  }

  .animate-me {
    -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */ 
    animation: 4s infinite bgcolorchange;
  }
  @keyframes bgcolorchange {
    0% {
      background-color: red;
    }
    25% {
      background-color: green;
    }
    50% {
      background-color: yellow;
    }
    75% {
      background-color: yellow;
    }
    100% {
      background-color: red;
    }
  }
  /* Chrome, Safari, Opera */
  @-webkit-keyframes bgcolorchange {
        0%   {background: red;}
        25%  {background: yellow;}
        75%  {background: green;}
        100% {background: blue;}
  }

  header {
    margin: 50px;
    text-align: center;
    mix-blend-mode: multiply;
  }
  h1 {
    position: relative;
    font-size: 14rem;
    color: transparent;
    white-space: nowrap;
    transform: skew(-10deg);
    display: inline-block;
  }
  h1 .glitch1,
  h1 .glitch2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  h1::before,
  h1::after,
  h1 .glitch2::before,
  h1 .glitch2::after,
  h1 .glitch1::before,
  h1 .glitch1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: magenta;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: multiply;
  }
  h1 .glitch2::before {
    color: cyan;
    animation: trans4 3.2s infinite;
    z-index: -1;
    clip-path: inset(62% 0 0 0);
  }
  h1 .glitch2::after {
    color: yellow;
    animation: trans5 3.2s infinite;
    z-index: -1;
    clip-path: inset(62% 0 0 0);
  }
  h1::before {
    clip-path: inset(0 0 43% 0);
    animation: trans6 3.2s infinite;
    color: black;
  }
  h1::after {
    clip-path: inset(62% 0 0 0);
  }
  h1 .glitch1::before {
    clip-path: inset(57% 0 42% 0);
    animation: trans2 .8s steps(1, start) infinite;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    color: black;
  }
  h1 .glitch1::after {
    clip-path: inset(58% 0 38% 0);
    animation: trans1 .8s steps(1, start) infinite;
    animation-fill-mode: both;
    color: black;
  }

  @keyframes trans1 {
    0% {
      transform: translateX(-1%);
    }
    20% {
      transform: translateX(0.5%);
    }
    40% {
      transform: translateX(-0.2%);
    }
    60% {
      transform: translateX(0.6%);
    }
    90% {
      transform: translateX(0.8%);
    }
    100% {
      transform: translateX(-1%);
    }
  }
  @keyframes trans2 {
    0% {
      transform: translateX(5%);
    }
    20% {
      transform: translateX(2.5%);
    }
    55% {
      transform: translateX(1.8%);
    }
    60% {
      transform: translateX(2.6%);
    }
    80% {
      transform: translateX(2.8%);
    }
    100% {
      transform: translateX(3%);
    }
  }
  @keyframes trans3 {
    0% {
      transform: translateX(1%);
    }
    20% {
      transform: translateX(1.1%);
    }
    45% {
      transform: translateX(1.2%);
    }
    70% {
      transform: translateX(1.4%);
    }
    90% {
      transform: translateX(0.6%);
    }
    100% {
      transform: translateX(1.2%);
    }
  }
  @keyframes trans4 {
    0% {
      transform: translateX(0%);
    }
    60% {
      transform: translateX(0.5%);
    }
    60.001% {
      transform: translateX(0.3%);
    }
    100% {
      transform: translateX(0.2%);
    }
  }
  @keyframes trans5 {
    0% {
      transform: translateX(0%);
    }
    60% {
      transform: translateX(-0.5%);
    }
    60.001% {
      transform: translateX(-0.3%);
    }
    100% {
      transform: translateX(-0.2%);
    }
  }
  @keyframes trans6 {
    0% {
      transform: translateX(0.6%);
    }
    60% {
      transform: translateX(1.1%);
    }
    60.001% {
      transform: translateX(0.9%);
    }
    100% {
      transform: translateX(1.2%);
    }
  }

  .bounce {
    padding-right: 40%;
    animation-name: stretch;
    animation-duration: .7s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    
  }

  .bounce-reg {
    animation-name: stretch;
    animation-duration: .3s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    
  }

  .bounce-2 {
    padding-left: 40%;
    animation-name: stretch;
    animation-duration: .7s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
    

  @keyframes stretch {
    0% {
      transform: scale(.3);
      border-radius: 100%;
    }

    100% {
      transform: scale(1.5);
    }
  }

  .play {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .spiny {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */ 
    /* transform: rotate(.03turn);  */
  }

  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
}
