/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *=require font-awesome
 */

$primary: #337ab7;
@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4";

.form-control {
  background-color: #f8f9fa;
  border-color:  #f8f9fa;;
}

.page-header-container {
  text-align: center;
  margin: 2em 0;
}
    .page-header-title {
      text-align: center;
      color: #337ab7;
    }
// login column 

.login-page {
  @media only screen and (min-width: 800px) {
    display: flex;
  }
  .login{
    color: #337ab7;
    font-size: 20px;
    font-weight: 500;
  }
  .login-info {
    color: #134774;
    font-size: 15px;
    font-weight: 200;
  }
  .login-details {
  
    float: right;
    // width: 150px;
    padding: 15px;
    flex: 0 .3 200px;
    min-width: 250px;
    border-left: 1px solid rgba(0,0,0,0.1);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  
    display: flex;
    flex-flow: column;
    
  }
  .login-title {
    padding: 5px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    margin-right: 150px;
  }

}


.tarjimly-nav {
  width: 100vw;
  height: 60px;
  display: flex;
  align-content: center;
  background-color: #337ab7;
  color: white;
  padding: 10px 15px;
  justify-content: space-between;
  @media only screen and (min-width: 800px) {
    position: fixed;
    top: 0;
    z-index: 2;
    padding-left: 40px;
    padding-right: 75px;
  }

  a {
    color: white;
    opacity: .95;
    text-decoration: none;
    letter-spacing: 1px;
    transition: .1s;
    font-size: 16px;
    padding-bottom: 2px;
    align-self: center;
    @media only screen and (min-width: 800px) {
      padding-right: 10px;
    }
  }
  a:hover {
    opacity: 1;
  }

}

.pad-for-nav {
  @media only screen and (min-width: 800px) {
    padding-top: 60px;
  }
}

.flex-container {
  @media only screen and (min-width: 800px) {
    display: flex;
    height: 100vh;
  }

  .flex-sidebar {
    padding: 15px;
    flex: 0 .5 400px;
    align-content: center;
    
    border-bottom: 1px solid rgba(0,0,0,0.1);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    box-shadow: 4px 0 5px -2px  rgba(0,0,0,0.05);

    display: flex;
    flex-flow: column;
    @media only screen and (min-width: 800px) {
      max-width: 340px;
      padding: 25px 40px;

    }
    
    
  }

  .flex-body {
    background-color: #f8f9fa;
    padding: 15px;
    flex: 1 1 auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @media only screen and (min-width: 800px) {
      padding-right: 75px;
      padding-left: 30px;
    }

    display: flex;
    flex-flow: column;

    .request-list {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      margin-bottom: 10px;
    }

  }
}


.flex-container-2 {
  @media only screen and (min-width: 800px) {
    height: 100vh;
  }
  display: flex;
  flex-flow: column;

  .flex-header {
    text-align: center;
    background-color: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.05);
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    @media only screen and (min-width: 800px) {
      text-align: left;
      display: flex;
      justify-content: space-between;
      padding: 20px 11%;
    }
  }


  .flex-body {
    background-color: #f8f9fa;
    flex: 1;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 10px;
    @media only screen and (min-width: 800px) {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

}


.filter-cont {
  @media only screen and (max-width: 800px) {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    height: 250px;
    .expand-button {
      width: 100%;
    }
  }

  @media only screen and (min-width: 800px) {
    display: flex;
    align-content: center;
    text-align: left;
    .fix-size {
      width: 150px;
    }
    .mg-left-20 {
      margin-left: 20px;
    }
  }


  .filter-labels {
    margin-left: 20px;
    margin-right: 10px;
    color: #337ab7;

  }

  

  .mg-top {
    @media only screen and (max-width: 800px) {
      margin-top: 10px;
    }
  }

}
.align-center {
  align-self: center;
}

.left-title {
  @media only screen and (min-width: 800px) {
    display: flex;
    align-content: center;
    text-align: left;
  }

  text-align: center;
  color: #337ab7;
}

/* New Request Page */
.form-title {
  color: #337ab7;
  font-weight: 400;
}
.form-subtitle {
  color: #337ab7;
  font-size: 14px;
  font-weight: 400;
}


.profile-container {
  padding: 10px;
  margin-bottom: 1em;
  padding-bottom: 1.7em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  h3 {
    margin: 0;
    margin-bottom: 3px;
    // color: #337ab7;
  }
  h4 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
  }
  .badgey {
    background: transparent;
    color: black;
    font-weight: 400;
  }
  .pad-bt-5 {
    padding-bottom: 5px;
  }
}
.section-header {
  color: #337ab7;
  font-size: 22px;
}

.notifications-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 0px;

  .n-wrapper {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 15px;
  }
  .n-green {
    background-color: rgb(231, 250, 231);
  }
  .n-blue {
    background-color: #e1effa;
  }
  .n-yellow {
    background-color: rgb(248, 244, 204);
  }
  
  .n-red {
    background-color: rgb(250, 218, 218);
  }
}



.flex {
  display: flex;
}

// popups
.btn-commit{
  color: #337ab7;

}

.modal-title{
    color: #337ab7;
    font-size: 18px;
    font-weight: 500;
}

/* translators/requests view */


.requests-header {
  text-align: center;
}

.no-requests{
  margin-top: 20px;
  text-align: center;
}

.pad-container {
  margin: 1.5em 10px;
}

.pad-left {
  margin-left: 10px;
}

.pad-top-5 {
  padding-top: 5px;
}
.pg-top-10 {
  margin-top: 10px;
}






.requests-card {
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 25px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 4px 14px rgba(0,0,0,0.05);
  

  .card-subs {
    font-weight: 400;
    font-size: larger;
  }

  .card-title {
    color: #337ab7;
    margin-top:5px;
    margin-bottom:10px;
  }

  .card-text {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;

  }

  .new_claim {
    margin-bottom: 0;
  }

  .button-cointainer {
    display: inline;
  }

  .card-row {
    @media only screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;

      .card-col-2 {
        align-self: flex-end;
      }
      .show-on-small {
        display: none;
      }
    }
  }

}

.tags-container{
  margin: 5px 0;
}
.tag {
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
  border-radius: 2px;
  margin-right: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 1px 1px rgba(0,0,0,0.05);
}
.tag-big {
  @media only screen and (min-width: 800px) {
    font-size: 14px;
  }
}

.tag-blue{
  background-color: rgb(190, 225, 237);
}
.tag-pink{
  background-color: rgb(246, 215, 220);
}
.tag-orange{
  background-color: rgb(251, 236, 218);
}
.tag-green{
  background-color: rgb(208, 249, 208);
}
.tag-purple{
  background-color: lavender;
}
.tag-grey{
  background-color:rgba(0,0,0,0.07);
}


/* Show Request Styling */

.m-bt-30 {
  margin-bottom: 30px;
}
.mg-tb-5 {
  margin-top: 5px;
}
.mg-tp-20 {
  margin-top: 20px;
}
.mg-tp-10 {
  margin-top: 10px;
}

.title {
  @media only screen and (min-width: 800px) {
    font-size: 24px;
  }
  font-size: 18px;
  color: #337ab7;
  margin: 5px 0;
  margin-right: 5px;
  font-weight: bolder;

}
.bold {
  font-weight: 400;
}
.blue {
  color: #337ab7;
}
.blue-header{
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5px;
  color: #337ab7;
  font-weight: 400;
}

.red {
  color: rgb(218, 1, 1);
}

.curve {
  border-radius: 5px;
}

.info-container {
  padding: 10px;
}
.langs {
  margin-bottom: 5px;
  .sm {
    font-size: 1.2rem;
    width: 10px;
    color: #337ab7;
    margin-right: 10px;
    margin-left: 5px;
  }
}

.grey-container{
  border-radius: 5px 10px;
  padding: 5px;
  margin:10px;
  .grey-container-buttons {
    margin:15px;
    display: flex;
    justify-content: space-evenly;

    .button-bold {
      font-weight: 400;
    }

    a {
      text-decoration: none;
    }
  }

  .grey-container-cards {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 70vh;
  }
}

  .document-container{
    border-radius: 5px;
    background-color:white;
    padding: 10px;
    margin:10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 4px 14px rgba(0,0,0,0.05);

    .document-text {
      max-height: 40%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    .lead-small{
      @media only screen and (min-width: 800px) {
        font-size: 18px;
      }
      font-weight: 400;
    }
    .lead-small-xs{
      @media only screen and (min-width: 800px) {
        font-size: 15px;
      }
      font-size: 13px;
      font-weight: 400;
    }
  }

  .pending-translation-message {
    margin: 1.5em 10px;
    border-radius: 5px;
    background-color: rgb(251, 236, 218);
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .no-message {
    border-radius: 5px;
    background-color: rgb(251, 236, 218);
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .translation-container{
    margin: 1.5em 10px;
    border-radius: 5px;
    background-color: rgba(199, 224, 238, 0.424);
    box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 4px 14px rgba(0,0,0,0.05);
    padding: 10px;

    .document-text {
      max-height: 40%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    .lead-small{
      @media only screen and (min-width: 800px) {
        font-size: 18px;
      }
      font-weight: 400;
    }
  }



.translation-text-container {
  margin: 1.5em 10px;
}

.spread {
  display: flex;
  justify-content: space-between;
}

.spread-vertical {
  display: flex;
  align-content: center;
}

.lead-no-margin {
  margin-bottom: 0;
}

.no-mg-tb{
  margin-top: 0;
  margin-bottom: 0;
}



.mg-top-15 {
  margin-top: 15px;
}

.mg-top-5 {
  margin-top: 5px;
}

.mg-bt-5 {
  margin-bottom: 5px;
}
.mg-bt-10 {
  margin-bottom: 10px;
}
.mg-bt-15 {
  margin-bottom: 15px;
}

.mg-10 {
  margin: 10px ;
}

.pad-bt-5 {
  padding-bottom: 5px;
}

.pad-10 {
  padding: 10px;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.bold-2{
  font-weight: 500 !important;
}
.bold-3{
  font-weight: 600 !important;
}

.section-header-big{
  margin: 0;
  margin-top: 10px;
  color: #337ab7;
}

.request-details {
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 4px 14px rgba(0,0,0,0.05);
  background-color: white;

  /* Checkbox */ 
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  -webkit-transition: all .2s ;
  transition: all .2s ;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 50px;
  background-color: #fff;
  border:solid 1px rgba(0,0,0,.3);
  padding: 5px 12px;
  display: inline-block;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 5px;
  margin-right: 5px;
}

input[type="checkbox"]:hover + label {
  border: 1px solid #337ab7;
}
input[type="checkbox"]:checked + label {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: #337ab7; 
  color: white; 
  border-color:#337ab7;
}

}
.bg-gray{
  background-color: rgba(0, 0, 0, 0.03);
}










/* Dropdown */


.dropdown {
  display: inline-block;
  position: relative;
  margin: -5px;

  a:hover {
    text-decoration: none;
  }
}

.dd-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px;
  padding-right: 30px;
  background-color: rgb(250, 250, 252);
  margin-top: 4px;
  cursor: pointer;
  white-space: nowrap;
  color: #337ab7;
  font-weight: 400;
  font-size: 18px;
}

.dd-alt {
  margin-top: 0;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 55%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #337ab7;
  color: #337ab7;
}
.dd-alt:after {
  top:45%;
}


.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}


.btn.dropdown-toggle:focus {
  outline: none !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color:blue;
}
.custom-checkbox.custom-control {
  display: inline-flex;
}

.new_request {
  .form-control{
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
}

.bs-ok-default.check-mark {
  font-size: 10px;
  top: 10px !important;
}

.alert-alert {
  @extend .alert-danger;
  @media only screen and (min-width: 800px) {
    position: fixed;
    top: 60px;
    z-index: 2;
    width: 100%
  }
}

.alert-notice {
  @extend .alert-info;
}
.alert-success {
  @extend .alert-success;
}
.alert-info {
  @extend .alert-danger;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 700px;
  }
}