/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *=require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.page-header-container {
  text-align: center;
  margin: 2em 0;
  .page-header-title {
    color: #337ab7;
  }
}
// login column 

.login-page {
  @media only screen and (min-width: 700px) {
    display: flex;
  }
  .login{
    color: #337ab7;
    font-size: 20px;
    font-weight: 500;
  }
  .login-info {
    color: #134774;
    font-size: 15px;
    font-weight: 200;
  }
  .login-details {
  
    float: right;
    // width: 150px;
    padding: 15px;
    flex: 0 .3 200px;
    min-width: 250px;
    border-left: 1px solid rgba(0,0,0,0.1);
    overflow-y: scroll;
  
    display: flex;
    flex-flow: column;
    
  }
  .login-title {
    padding: 5px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    margin-right: 150px;
  }

}


.temp-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  align-content: center;
  background-color: #337ab7;
  color: white;
  padding:15px;
  z-index: 2;
}

.profile-container {
  padding: 10px;
  margin-bottom: 1em;
  padding-bottom: 1.7em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  h3 {
    margin: 0;
    margin-bottom: 3px;
    color: #337ab7;
  }
  h4 {
    margin: 0;
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 16px;
  }
  .badge {
    padding: 5px;
    background-color: rgb(251, 236, 218);
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: 500;
  }
  .pad-bt-5 {
    padding-bottom: 5px;
  }
}
.section-header {
  color: #337ab7;
  font-size: 22px;
}

.notifications-container {
  overflow-y: scroll;
  padding-top: 0px;

  .n-wrapper {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 15px;
  }
  .n-green {
    background-color: rgb(231, 250, 231);
  }
  .n-blue {
    background-color: #e1effa;
  }
  .n-yellow {
    background-color: rgb(248, 244, 204);
  }
  
  .n-red {
    background-color: rgb(250, 218, 218);
  }
}

.flex-container {
  @media only screen and (min-width: 700px) {
    display: flex;
  }
  height: 100vh;

  .flex-sidebar {
    padding: 15px;
    flex: 0 .3 300px;
    min-width: 250px;
    border-right: 1px solid rgba(0,0,0,0.1);
    overflow-y: scroll;

    display: flex;
    flex-flow: column;
  }

  .flex-body {
    padding: 5px;
    flex: 1 1 auto;
    overflow-y: scroll;

    display: flex;
    flex-flow: column;

    .request-list {
      overflow-y: scroll;
      margin-bottom: 10px;
    }

  }
}

.flex {
  display: flex;
}

// popups
.btn-commit{
  color: #337ab7;

}

.modal-title{
    color: #337ab7;
    font-size: 18px;
    font-weight: 500;
}

/* translators/requests view */


.requests-header {
  text-align: center;
}

.no-requests{
  margin-top: 20px;
  text-align: center;
}

.pad-container {
  margin: 1.5em 10px;
}

.pad-left {
  margin-left: 10px;
}

.pad-top-5 {
  padding-top: 5px;
}
.pg-top-10 {
  margin-top: 10px;
}


.filter-cont {
  margin-top: 15px;
  padding: 10px;
  @media only screen and (min-width: 992px) {
    border-right: .5px solid #337ab7;
    padding-right: 3%;
    position: fixed;
  }

  .filter-labels {
    margin-bottom: 10px;
  }

  .reset-container {
    margin-top: 10px;
    text-align: center;
  }
}



.requests-card {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: white;

  .card-subs {
    font-weight: 400;
    font-size: larger;
  }

  .card-title {
    color: #337ab7;
    margin-top:5px;
    margin-bottom:5px;
  }

  .card-text {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;

  }

  .new_claim {
    margin-bottom: 0;
  }

  .button-cointainer {
    display: inline;
  }

  .card-row {
    @media only screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;

      .card-col-2 {
        align-self: flex-end;
      }
      .show-on-small {
        display: none;
      }
    }
  }

}

.tags-container{
  margin: 5px 0;
}
.tag {
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  margin: 10px 0px;
  border-radius: 5px;
}
.tag-big {
  @media only screen and (min-width: 800px) {
    font-size: 14px;
  }
}

.tag-blue{
  background-color: rgb(190, 225, 237);
}
.tag-pink{
  background-color: rgb(246, 215, 220);
}
.tag-orange{
  background-color: rgb(251, 236, 218);
}
.tag-green{
  background-color: rgb(208, 249, 208);
}
.tag-purple{
  background-color: lavender;
}
.tag-grey{
  background-color:rgba(0,0,0,0.07);
}


/* Show Request Styling */

.m-bt-30 {
  margin-bottom: 30px;
}
.mg-tb-5 {
  margin-top: 5px;
}
.title {
  @media only screen and (min-width: 800px) {
    font-size: 24px;
  }
  font-size: 18px;
  color: #337ab7;
  margin: 5px 0;
  margin-right: 5px;
  font-weight: bolder;

}
.bold {
  font-weight: 400;
}
.blue {
  color: #337ab7;
}
.blue-header{
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5px;
  color: #337ab7;
  font-weight: 400;
}

.curve {
  border-radius: 10px;
}

.info-container {
  padding: 10px;
}
.langs {
  margin-bottom: 5px;
  .sm {
    font-size: 1.5rem;
    width: 10px;
    color: #337ab7;
    margin-right: 2px;
  }
}

.grey-container{
  border-radius: 10px 10px;
  padding: 5px;
  margin:10px;
  .grey-container-buttons {
    margin:15px;
    display: flex;
    justify-content: space-evenly;

    .button-bold {
      font-weight: 400;
    }

    a {
      text-decoration: none;
    }
  }

  .grey-container-cards {
    overflow-y: scroll;
    max-height: 70vh;
  }
}

  .document-container{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
    padding: 10px;
    margin:10px;

    .document-text {
      max-height: 40%;
      overflow-y: scroll;
    }
    .lead-small{
      @media only screen and (min-width: 800px) {
        font-size: 18px;
      }
      font-weight: 400;
    }
    .lead-small-xs{
      @media only screen and (min-width: 800px) {
        font-size: 15px;
      }
      font-size: 13px;
      font-weight: 400;
    }
  }

  .pending-translation-message {
    margin: 1.5em 10px;
    border-radius: 10px;
    background-color: rgb(251, 236, 218);
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

  }

  .translation-container{
    margin: 1.5em 10px;
    border-radius: 10px;
    background-color: rgba(199, 224, 238, 0.424);
    padding: 10px;

    .document-text {
      max-height: 40%;
      overflow-y: scroll;
    }
    .lead-small{
      @media only screen and (min-width: 800px) {
        font-size: 18px;
      }
      font-weight: 400;
    }
  }



.translation-text-container {
  margin: 1.5em 10px;
}

.spread {
  display: flex;
  justify-content: space-between;
}

.spread-vertical {
  display: flex;
  align-content: center;
}

.lead-no-margin {
  margin-bottom: 0;
}

.mg-top-15 {
  margin-top: 15px;
}

.mg-bt-5 {
  margin-bottom: 5px;
}

.mg-10 {
  margin: 10px ;
}

.section-header-big{
  margin: 0;
  margin-top: 10px;
  color: #337ab7;
}






/* Dropdown */


.dropdown {
  display: inline-block;
  position: relative;
  margin: -5px;

  a:hover {
    text-decoration: none;
  }
}

.dd-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px;
  padding-right: 30px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  color: #337ab7;
  font-weight: 400;
  font-size: 18px;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #337ab7;
  color: #337ab7;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}


/* Ignore stuff below this line (temporary index page) */
.aj-stuff {


  .animate-me {
    -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */ 
    animation: 4s infinite bgcolorchange;
  }
  @keyframes bgcolorchange {
    0% {
      background-color: red;
    }
    25% {
      background-color: green;
    }
    50% {
      background-color: yellow;
    }
    75% {
      background-color: yellow;
    }
    100% {
      background-color: red;
    }
  }
  /* Chrome, Safari, Opera */
  @-webkit-keyframes bgcolorchange {
        0%   {background: red;}
        25%  {background: yellow;}
        75%  {background: green;}
        100% {background: blue;}
  }

  header {
    margin: 50px;
    text-align: center;
    mix-blend-mode: multiply;
  }
  h1 {
    position: relative;
    font-size: 14rem;
    color: transparent;
    white-space: nowrap;
    transform: skew(-10deg);
    display: inline-block;
  }
  h1 .glitch1,
  h1 .glitch2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  h1::before,
  h1::after,
  h1 .glitch2::before,
  h1 .glitch2::after,
  h1 .glitch1::before,
  h1 .glitch1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: magenta;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: multiply;
  }
  h1 .glitch2::before {
    color: cyan;
    animation: trans4 3.2s infinite;
    z-index: -1;
    clip-path: inset(62% 0 0 0);
  }
  h1 .glitch2::after {
    color: yellow;
    animation: trans5 3.2s infinite;
    z-index: -1;
    clip-path: inset(62% 0 0 0);
  }
  h1::before {
    clip-path: inset(0 0 43% 0);
    animation: trans6 3.2s infinite;
    color: black;
  }
  h1::after {
    clip-path: inset(62% 0 0 0);
  }
  h1 .glitch1::before {
    clip-path: inset(57% 0 42% 0);
    animation: trans2 .8s steps(1, start) infinite;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    color: black;
  }
  h1 .glitch1::after {
    clip-path: inset(58% 0 38% 0);
    animation: trans1 .8s steps(1, start) infinite;
    animation-fill-mode: both;
    color: black;
  }

  @keyframes trans1 {
    0% {
      transform: translateX(-1%);
    }
    20% {
      transform: translateX(0.5%);
    }
    40% {
      transform: translateX(-0.2%);
    }
    60% {
      transform: translateX(0.6%);
    }
    90% {
      transform: translateX(0.8%);
    }
    100% {
      transform: translateX(-1%);
    }
  }
  @keyframes trans2 {
    0% {
      transform: translateX(5%);
    }
    20% {
      transform: translateX(2.5%);
    }
    55% {
      transform: translateX(1.8%);
    }
    60% {
      transform: translateX(2.6%);
    }
    80% {
      transform: translateX(2.8%);
    }
    100% {
      transform: translateX(3%);
    }
  }
  @keyframes trans3 {
    0% {
      transform: translateX(1%);
    }
    20% {
      transform: translateX(1.1%);
    }
    45% {
      transform: translateX(1.2%);
    }
    70% {
      transform: translateX(1.4%);
    }
    90% {
      transform: translateX(0.6%);
    }
    100% {
      transform: translateX(1.2%);
    }
  }
  @keyframes trans4 {
    0% {
      transform: translateX(0%);
    }
    60% {
      transform: translateX(0.5%);
    }
    60.001% {
      transform: translateX(0.3%);
    }
    100% {
      transform: translateX(0.2%);
    }
  }
  @keyframes trans5 {
    0% {
      transform: translateX(0%);
    }
    60% {
      transform: translateX(-0.5%);
    }
    60.001% {
      transform: translateX(-0.3%);
    }
    100% {
      transform: translateX(-0.2%);
    }
  }
  @keyframes trans6 {
    0% {
      transform: translateX(0.6%);
    }
    60% {
      transform: translateX(1.1%);
    }
    60.001% {
      transform: translateX(0.9%);
    }
    100% {
      transform: translateX(1.2%);
    }
  }

  .bounce {
    padding-right: 40%;
    animation-name: stretch;
    animation-duration: .7s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    
  }

  .bounce-reg {
    animation-name: stretch;
    animation-duration: .3s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    
  }

  .bounce-2 {
    padding-left: 40%;
    animation-name: stretch;
    animation-duration: .7s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
    

  @keyframes stretch {
    0% {
      transform: scale(.3);
      border-radius: 100%;
    }

    100% {
      transform: scale(1.5);
    }
  }

  .play {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    width: 100%;
  }

  .spiny {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */ 
    /* transform: rotate(.03turn);  */
  }

  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
}
.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-warning;
}
.alert-success {
  @extend .alert-success;
}
.alert-info {
  @extend .alert-info;
}
