
<div style="height: 100vh" class="animate-me play">
  <header class="spiny">
  <h1 data-text="Tarjimly Docs">
    <span class="glitch1" data-text="Tarjimly Docs" aria-hidden></span>
    <span class="glitch2" data-text="Tarjimly Docs" aria-hidden></span>
    Tarjimly Docs
  </h1>
  </header>
  <div style="text-align: center" class="bounce-reg spiny">
     <%= button_to "Translator See Available Requests", view_requests_path, action: "requests", method: :get, class: "btn btn-danger" %>
  </div>
  <div style="text-align: left" class="bounce spiny ">
    <%= button_to "User Homepage", requests_path, action: "index", method: :get, class: "btn btn-primary" %>
  </div>
  <div style="text-align: right" class="bounce-2 spiny">
    <%= button_to "Translator Homepage", claims_path, action: "index", method: :get, class: "btn btn-warning" %>
  </div>
</div>